// SHADOWS

@mixin box-shadow($x, $y, $blur, $transparency) {
    box-shadow: #{$x}px #{$y}px #{$blur}px rgba(0, 0, 0, $transparency);
}

// FLEX
// set row-gap
@mixin flex-column($r-gap) {
    display: flex;
    flex-direction: column;
    row-gap: $r-gap;
}

// set column-gap and row-gap
@mixin flex-row($c-gap, $r-gap) {
    display: flex;
    flex-direction: row;
    column-gap: $c-gap;
    row-gap: $r-gap;
}

// DIV CENTER

@mixin div-center {
    margin-left: auto;
    margin-right: auto;
}

// MAX WIDTH

@mixin max-width-large {
    max-width: 1055px;
    @include div-center;
}