// ####### GENERAL #######
//  backgrounds
%background-light {
    background: $background-light;
}

%margin-center {
    margin: 0 auto;
}

%text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
