// ####### GENERAL #######
//  backgrounds
%background-light {
    background: $background-light;
}

%margin-center {
    margin: 0 auto;
}

// ####### HOMEPAGE #######
// paddings
%homesection {
    padding: 40px 20px 60px 20px;
}