@use 'sass:list';
@use 'sass:map';

// ####### TYPOGRAPHY #######

// Font-families
$base-font: "Roboto";
$deco-font: "Shrikhand";

// Font-size
// Base font-size in pixels
$base-font-size: 16px;

// Font-weights
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

// ####### COLORS #######

$primary: #9356DC;
$primary-to-gradient: #FF79DA;
$secondary: #008766;
$secondary-light: #99E2D0;

$contrast-light: #7E7E7E;
$contrast-heavy: #353535;

$background-light: #F6F6F6;
$background-medium: #EAEAEA;

$button-gradient: linear-gradient(to bottom, $primary-to-gradient, $primary);

// BREAKPOINTS

$medium-screen: "only screen and (min-width: 768px)";
$large-screen: "only screen and (min-width: 1024px)";

// RESTAURANTS

// Restaurant list definition, using this format :
// ("restaurant-name" "number of starters" "number of main-courses" "number of desserts")
$restaurants:
    ("la-palette-du-gout" 3 3 3),
    ("la-note-enchantee" 4 3 3),
    ("a-la-francaise" 3 3 3),
    ("le-delice-des-sens" 3 3 3);

// LOADER
$loader-size-start: 250px;
$loader-size-end: 130px;

$heart-size: 25px;
$heart-position-start: calc($loader-size-start / 2 - $heart-size);
$heart-position-end: calc($loader-size-end / 2 - $heart-size);
$heart-angles:
    calc(pi / -2),
    calc(pi / -4),
    0,
    calc(pi / 4),
    calc(pi / 2),
    calc(-5 * pi / 4),
    calc(pi),
    calc(5 * pi / 4),
    calc(pi / -2);