/* ####### HEADER for restaurants pages ####### */
.main-header {
    &--restaurant {
        position: relative;
    }

    &__back-to-home {
        position: absolute;
        font-size: rem(20);
        padding: 7px;
        margin: 17px;
        top: 0;
        left: 0;
        cursor: pointer;
    }
}