/* ####### HEADER ####### */
.main-header {
    padding-top: rem(14);
    padding-bottom: rem(5);

    &__logo {
        width: rem(162);
        margin: 0 auto;
    }
}

/* ####### homepage header ####### */
