/* ####### HEADER ####### */
.main-header {
    padding-top: 22px;
    padding-bottom: 13px;
    @include box-shadow(0, 2, 4, .15);
    position: relative;
    z-index: 3;

    &__logo {
        width: rem(162);
        @include div-center;
    }

    @media #{$large-screen} {
        padding: 30px;
        box-shadow: none;

        &__logo {
            width: rem(200);
        }
    }
}