/* ####### HEADER ####### */
.main-header {
    padding-top: 22px;
    padding-bottom: 13px;
    @include shadow-light;
    position: relative;
    z-index: 3;

    &__logo {
        width: rem(162);
        @extend %margin-center;
    }

    @media #{$large-screen} {
        padding: 30px;
        box-shadow: none;

        &__logo {
            width: rem(200);
        }
    }
}