/* ####### HEADER ####### */
// for restaurants pages
.main-header {
    &--restaurant {
        position: relative;
    }

    &__back-to-home {
        position: absolute;
        font-size: rem(20);
        margin-left: 17px;
        line-height: rem(63);
        top: 0;
        left: 0;
        cursor: pointer;

        @media #{$large-screen} {
            margin-left: 23px;
            line-height: rem(94);
        }
    }
}