/* ####### BUTTON ####### */
.btn {
    display: block;
    @extend %margin-center;
    width: rem(218);
    height: rem(50);
    background: $button-gradient;
    color: white;
    font-weight: $medium-weight;
    line-height: rem(50);
    border: none;
    border-radius: 25px;
    font-size: rem(16);
    @include shadow-button;
    cursor: pointer;
    position: relative;
}

/* ####### Button animation ######## */

.btn {

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        opacity: 0;
        border-radius: 25px;
        @include shadow-button-hover;
        transition: opacity 300ms ease-in;
    }

    &:active, &:hover {
        &::after {
            opacity: .15;
        }
    }
}