/* like icon */

.like {

    &__checkbox {
        display: none;
    }

    &__favorite {
        position: relative;
        display: block;
        cursor: pointer;
    }

    &__icon--filled {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
    }

}