/* ####### LIKE ICON ####### */

.like {

    &__checkbox {
        display: none;
    }

    &__favorite {
        position: relative;
        cursor: pointer;
    }

    &__icon--filled {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
    }
}

/* "Like" animation */

.like {

    &__icon {
        transition: opacity 400ms ease-in;
    }

    &__checkbox:checked + &__favorite &__icon{

        &--filled {
            opacity: 1;
        }

        &--empty {
            opacity: 0;
        }
    }

    &__checkbox:not(:checked) + &__favorite &__icon{

        &--filled {
            opacity: 0;
        }

        &--empty {
            opacity: 1;
        }
    }
}

// to add an hover effect, uncomment the lines below
// @media #{$medium-screen} {

//     .like:hover {

//         .like__icon--filled {
//             opacity: 1 !important;
//         }
//         .like__icon--empty {
//             opacity: 0 !important;
//         }
//     }
// }