/* ####### MENU ANIMATION ####### */

/* DISHES ENTRANCE ANIMATION */

// Animation definition
@-webkit-keyframes dish-appear {
    from {
        transform: translateX(-135%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes dish-appear {
    from {
        transform: translateX(-135%);
    }
    to {
        transform: translateX(0);
    }
}

// Animation iteration

// The restaurants names, numbers of starters, main-courses and desserts
// are to be defined in _variables.scss into the $restaurants variable
// given here as parameter
@include dishes-animation($restaurants);

/* green check animation */
.restaurant-menu {

    &__info {
        transition: margin-right 300ms ease-out;
    }

    &__checkbox:checked + &__content &__info {
            margin-right: 0;
    }

    &__checkbox:not(:checked) + &__content &__info {
            margin-right: -60px;
    }

    // ######### To enable hover animation on medium-screens and more, uncomment the @media rule below

    // @media #{$medium-screen} {
    //     &__content:hover &__info {
    //         margin-right: 0 !important;
    //     }
    // }
}
