/* ######## RESTAURANTS CARDS ######## */
.restaurants {
    &__cards {
        @include flex-column(18px);
        margin-top: 25px;
    }

    &__card {
        @extend %margin-center;
        position: relative;
        width: 100%;
        max-width: 490px;

    }

    &__image {
        height: rem(170);
        width: 100%;
        object-fit: cover;
        object-position: 50% 58%;
        border-radius: 15px 15px 0 0;
    }

    &__content {
        @include flex-row(0, 0);
        justify-content: space-between;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding: 15px;
    }

    &__name {
        font-size: rem(18);
        font-weight: $bold-weight;
    }

    &__place {
        font-size: rem(17);
        font-weight: $light-weight;
        margin-top: 5px;
    }

    &__icon {
        margin-top: 8px;
        margin-right: 13px;
    }

    &__checkbox {
        display: none;
    }

    &__favorite {
        position: relative;
        display: block;
        cursor: pointer;
    }

    &__like--filled {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
    }

    &__notification {
        position: absolute;
        top: 0;
        right: 0;
        width: rem(80);
        height: rem(30);
        line-height: rem(32);
        background-color: $secondary-light;
        color: $secondary;
        text-align: center;
        font-size: rem(14);
        font-weight: $medium-weight;
        margin: 15px;
        border-radius: 2px;

        &--off {
            display: none;
        }
    }
}