/* ####### Button animation ######## */

.btn {
    &:active {
        &::after {
            @include shadow-button-hover;
            opacity: .15;
        }

    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        opacity: 0;
        border-radius: 25px;
        transition: opacity 300ms;
    }
}

/* "Like" animation */

.like {

    &__icon {
        transition: opacity 500ms ease-in;
    }

    &__checkbox:checked + &__favorite &__icon{

        &--filled {
            opacity: 1;
        }

        &--empty {
            opacity: 0;
        }
    }

    &__checkbox:not(:checked) + &__favorite &__icon{

        &--filled {
            opacity: 0;
        }

        &--empty {
            opacity: 1;
        }
    }
}
