.introduction, .restaurants {
  background: #F6F6F6;
}

.loader__image, .loader__container, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ####### Extra reset rules ####### */
img, picture {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ####### GENERAL ####### */
html, body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  position: relative;
}

/* ####### HEADER ####### */
.main-header {
  padding-top: 22px;
  padding-bottom: 13px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
}
.main-header__logo {
  width: 10.125rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1024px) {
  .main-header {
    padding: 30px;
    box-shadow: none;
  }
  .main-header__logo {
    width: 12.5rem;
  }
}

/* ####### FOOTER ####### */
.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 1.125rem;
}
.footer__menu {
  font-size: 1rem;
}
.footer__menu--1 {
  margin-top: 16px;
}
.footer__menu--1 .footer__menu-item {
  font-weight: 500;
}
.footer__menu-item {
  margin-top: 7px;
}
.footer__icon {
  width: 23px;
  text-align: center;
  font-size: 0.8125rem;
}
@media only screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
    column-gap: 50px;
    row-gap: 0;
    justify-content: flex-end;
    padding: 55px 55px 30px 55px;
  }
  .footer__title {
    order: 2;
    margin-left: 40px;
  }
  .footer__menu {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 0;
  }
  .footer__menu--1 {
    order: 0;
    margin-top: 0;
  }
  .footer__menu--2 {
    order: 1;
  }
}

/* LOADER ANIMATION */
body {
  -webkit-animation: body_anim 3s;
  animation: body_anim 3s;
}

.loader {
  position: absolute;
  z-index: 100000;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  -webkit-animation: page-loader__anim 3s forwards;
  animation: page-loader__anim 3s forwards;
}
.loader__container {
  width: 130px;
  height: 130px;
  -webkit-animation: loader-anim 8s linear 1;
  animation: loader-anim 8s linear 1;
}
.loader__image {
  position: absolute;
  width: 25px;
  height: 25px;
}

.loader__image:nth-of-type(1) {
  transform: translate(0px, -100px) rotate(0deg);
  -webkit-animation: anim-heart-1 1200ms ease-in-out 0ms 10 alternate both;
  animation: anim-heart-1 1200ms ease-in-out 0ms 10 alternate both;
}

.loader__image:nth-of-type(2) {
  transform: translate(70.7106781187px, -70.7106781187px) rotate(45deg);
  -webkit-animation: anim-heart-2 1200ms ease-in-out 300ms 10 alternate both;
  animation: anim-heart-2 1200ms ease-in-out 300ms 10 alternate both;
}

.loader__image:nth-of-type(3) {
  transform: translate(100px, 0px) rotate(90deg);
  -webkit-animation: anim-heart-3 1200ms ease-in-out 600ms 10 alternate both;
  animation: anim-heart-3 1200ms ease-in-out 600ms 10 alternate both;
}

.loader__image:nth-of-type(4) {
  transform: translate(70.7106781187px, 70.7106781187px) rotate(135deg);
  -webkit-animation: anim-heart-4 1200ms ease-in-out 900ms 10 alternate both;
  animation: anim-heart-4 1200ms ease-in-out 900ms 10 alternate both;
}

.loader__image:nth-of-type(5) {
  transform: translate(0px, 100px) rotate(180deg);
  -webkit-animation: anim-heart-5 1200ms ease-in-out 1200ms 10 alternate both;
  animation: anim-heart-5 1200ms ease-in-out 1200ms 10 alternate both;
}

.loader__image:nth-of-type(6) {
  transform: translate(-70.7106781187px, 70.7106781187px) rotate(225deg);
  -webkit-animation: anim-heart-6 1200ms ease-in-out 1500ms 10 alternate both;
  animation: anim-heart-6 1200ms ease-in-out 1500ms 10 alternate both;
}

.loader__image:nth-of-type(7) {
  transform: translate(-100px, 0px) rotate(270deg);
  -webkit-animation: anim-heart-7 1200ms ease-in-out 1800ms 10 alternate both;
  animation: anim-heart-7 1200ms ease-in-out 1800ms 10 alternate both;
}

.loader__image:nth-of-type(8) {
  transform: translate(-70.7106781187px, -70.7106781187px) rotate(315deg);
  -webkit-animation: anim-heart-8 1200ms ease-in-out 2100ms 10 alternate both;
  animation: anim-heart-8 1200ms ease-in-out 2100ms 10 alternate both;
}

@-webkit-keyframes anim-heart-1 {
  0% {
    transform: translate(0px, -100px) rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: translate(0px, -40px) rotate(0deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, -40px) rotate(0deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-1 {
  0% {
    transform: translate(0px, -100px) rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: translate(0px, -40px) rotate(0deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, -40px) rotate(0deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes anim-heart-2 {
  0% {
    transform: translate(70.7106781187px, -70.7106781187px) rotate(45deg);
    opacity: 0;
  }
  25% {
    transform: translate(28.2842712475px, -28.2842712475px) rotate(45deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(28.2842712475px, -28.2842712475px) rotate(45deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-2 {
  0% {
    transform: translate(70.7106781187px, -70.7106781187px) rotate(45deg);
    opacity: 0;
  }
  25% {
    transform: translate(28.2842712475px, -28.2842712475px) rotate(45deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(28.2842712475px, -28.2842712475px) rotate(45deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes anim-heart-3 {
  0% {
    transform: translate(100px, 0px) rotate(90deg);
    opacity: 0;
  }
  25% {
    transform: translate(40px, 0px) rotate(90deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(40px, 0px) rotate(90deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-3 {
  0% {
    transform: translate(100px, 0px) rotate(90deg);
    opacity: 0;
  }
  25% {
    transform: translate(40px, 0px) rotate(90deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(40px, 0px) rotate(90deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes anim-heart-4 {
  0% {
    transform: translate(70.7106781187px, 70.7106781187px) rotate(135deg);
    opacity: 0;
  }
  25% {
    transform: translate(28.2842712475px, 28.2842712475px) rotate(135deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(28.2842712475px, 28.2842712475px) rotate(135deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-4 {
  0% {
    transform: translate(70.7106781187px, 70.7106781187px) rotate(135deg);
    opacity: 0;
  }
  25% {
    transform: translate(28.2842712475px, 28.2842712475px) rotate(135deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(28.2842712475px, 28.2842712475px) rotate(135deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes anim-heart-5 {
  0% {
    transform: translate(0px, 100px) rotate(180deg);
    opacity: 0;
  }
  25% {
    transform: translate(0px, 40px) rotate(180deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 40px) rotate(180deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-5 {
  0% {
    transform: translate(0px, 100px) rotate(180deg);
    opacity: 0;
  }
  25% {
    transform: translate(0px, 40px) rotate(180deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 40px) rotate(180deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes anim-heart-6 {
  0% {
    transform: translate(-70.7106781187px, 70.7106781187px) rotate(225deg);
    opacity: 0;
  }
  25% {
    transform: translate(-28.2842712475px, 28.2842712475px) rotate(225deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-28.2842712475px, 28.2842712475px) rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-6 {
  0% {
    transform: translate(-70.7106781187px, 70.7106781187px) rotate(225deg);
    opacity: 0;
  }
  25% {
    transform: translate(-28.2842712475px, 28.2842712475px) rotate(225deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-28.2842712475px, 28.2842712475px) rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes anim-heart-7 {
  0% {
    transform: translate(-100px, 0px) rotate(270deg);
    opacity: 0;
  }
  25% {
    transform: translate(-40px, 0px) rotate(270deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-40px, 0px) rotate(270deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-7 {
  0% {
    transform: translate(-100px, 0px) rotate(270deg);
    opacity: 0;
  }
  25% {
    transform: translate(-40px, 0px) rotate(270deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-40px, 0px) rotate(270deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes anim-heart-8 {
  0% {
    transform: translate(-70.7106781187px, -70.7106781187px) rotate(315deg);
    opacity: 0;
  }
  25% {
    transform: translate(-28.2842712475px, -28.2842712475px) rotate(315deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-28.2842712475px, -28.2842712475px) rotate(315deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@keyframes anim-heart-8 {
  0% {
    transform: translate(-70.7106781187px, -70.7106781187px) rotate(315deg);
    opacity: 0;
  }
  25% {
    transform: translate(-28.2842712475px, -28.2842712475px) rotate(315deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-28.2842712475px, -28.2842712475px) rotate(315deg);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
    animation-timing-function: cubic-bezier(0.04, 0.93, 0.1, 0.85);
  }
}
@-webkit-keyframes loader-anim {
  0% {
    transform: rotate(0) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes loader-anim {
  0% {
    transform: rotate(0) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes page-loader__anim {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes page-loader__anim {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes body_anim {
  0% {
    height: 100vh;
    overflow-y: hidden;
  }
  99% {
    height: 100vh;
    overflow-y: hidden;
  }
  100% {
    height: unset;
    overflow-y: visible;
  }
}
@keyframes body_anim {
  0% {
    height: 100vh;
    overflow-y: hidden;
  }
  99% {
    height: 100vh;
    overflow-y: hidden;
  }
  100% {
    height: unset;
    overflow-y: visible;
  }
}
/* ####### BUTTON ####### */
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13.625rem;
  height: 3.125rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  line-height: 3.125rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}

/* ####### Button animation ######## */
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transition: opacity 300ms ease-in;
}
.btn:active::after, .btn:hover::after {
  opacity: 0.15;
}

/* ###### MANUAL ###### */
.manual__list {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.manual__item {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 4.5rem;
  width: 100%;
  max-width: 322px;
  display: flex;
  align-items: center;
  padding: 0 28px;
  position: relative;
  transform: translateX(0.3125rem);
}
.manual__number {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  color: white;
  text-align: center;
  line-height: 1.625rem;
  border-radius: 100%;
  font-weight: 500;
  font-size: 0.875rem;
  transform: translateX(-50%);
  position: absolute;
  left: 0;
}
.manual__icon {
  font-size: 1.25rem;
  color: #7E7E7E;
  margin-right: 20px;
}
.manual__icon--colored {
  color: #9356DC;
}
.manual__text {
  font-size: 1rem;
  font-weight: 500;
}

/* ######## RESTAURANTS CARDS ######## */
.restaurants__cards {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
    column-gap: 50px;
    row-gap: 50px;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants__cards {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
}
.restaurants__card {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 490px;
}
@media only screen and (min-width: 768px) {
  .restaurants__card {
    min-width: 340px;
    flex: 1 1 0px;
  }
}
.restaurants__image {
  height: 10.625rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 58%;
  object-position: 50% 58%;
  border-radius: 15px 15px 0 0;
}
.restaurants__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0;
  column-gap: 0;
  row-gap: 0;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 15px;
}
.restaurants__name {
  font-size: 1.125rem;
  font-weight: 700;
}
.restaurants__place {
  font-size: 1.0625rem;
  font-weight: 300;
  margin-top: 5px;
}
.restaurants__like {
  position: absolute;
  bottom: 33px;
  right: 25px;
}
.restaurants__notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 1.875rem;
  line-height: 2rem;
  background-color: #99E2D0;
  color: #008766;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 15px;
  border-radius: 2px;
}
.restaurants__notification--off {
  display: none;
}

/* ####### LIKE ICON ####### */
.like__checkbox {
  display: none;
}
.like__favorite {
  position: relative;
  cursor: pointer;
}
.like__icon--filled {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

/* "Like" animation */
.like__icon {
  transition: opacity 400ms ease-in;
}
.like__checkbox:checked + .like__favorite .like__icon--filled {
  opacity: 1;
}
.like__checkbox:checked + .like__favorite .like__icon--empty {
  opacity: 0;
}
.like__checkbox:not(:checked) + .like__favorite .like__icon--filled {
  opacity: 0;
}
.like__checkbox:not(:checked) + .like__favorite .like__icon--empty {
  opacity: 1;
}

/* ####### GENERAL ####### */
/* Titles */
h1, h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ####### LOCATIONS ####### */
.location {
  padding: 15.5px;
  color: #353535;
  background: #EAEAEA;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: relative;
}
.location__title {
  margin-left: 17px;
  display: inline;
}
@media only screen and (min-width: 1024px) {
  .location {
    box-shadow: none;
  }
}

/* ####### INTRODUCTION / MANUAL / RESTAURANTS ####### */
.introduction, .manual, .restaurants {
  padding: 40px 20px 60px 20px;
}

@media only screen and (min-width: 1024px) {
  .introduction, .restaurant {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .manual {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .manual__list {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 0;
    justify-content: center;
  }
}
/* ####### INTRODUCTION ####### */
.introduction {
  text-align: center;
}
.introduction__title {
  padding: 0 30px;
}
.introduction__text {
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style_homepage.css.map */
