.restaurant-menu {
  background: #F6F6F6;
}

.restaurant-menu__service, .restaurant-menu__header, .btn, .main-header__logo {
  margin: 0 auto;
}

.restaurant-menu__description, .restaurant-menu__dish {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.restaurant-menu {
  padding: 32px 13px 40px 13px;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ####### Extra reset rules ####### */
img, picture {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ####### GENERAL ####### */
html, body {
  font-family: "Roboto";
  font-size: 16px;
  scroll-behavior: smooth;
}

/* ####### HEADER ####### */
.main-header {
  padding-top: 22px;
  padding-bottom: 13px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
}
.main-header__logo {
  width: 10.125rem;
}

/* ####### HEADER ####### */
.main-header--restaurant {
  position: relative;
}
.main-header__back-to-home {
  position: absolute;
  font-size: 1.25rem;
  padding: 7px;
  margin: 17px;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* ####### FOOTER ####### */
.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 1.125rem;
}
.footer__menu {
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 500;
}
.footer__menu-item {
  margin-top: 7px;
}
.footer__icon {
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

/* ####### MENU ANIMATION ####### */
.restaurant-menu__info {
  transition: margin-right 300ms ease-out;
}
.restaurant-menu__checkbox:checked + .restaurant-menu__label .restaurant-menu__info {
  margin-right: 0;
}
.restaurant-menu__checkbox:not(:checked) + .restaurant-menu__label .restaurant-menu__info {
  margin-right: -60px;
}

/* ####### BUTTON ####### */
.btn {
  display: block;
  width: 13.625rem;
  height: 3.125rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  line-height: 3.125rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}

/* ####### Button animation ######## */
.btn:active::after {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.15;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  border-radius: 25px;
  transition: opacity 300ms;
}

/* ####### LIKE ICON ####### */
.like__checkbox {
  display: none;
}
.like__favorite {
  position: relative;
  display: block;
  cursor: pointer;
}
.like__icon--filled {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

/* "Like" animation */
.like__icon {
  transition: opacity 500ms ease-in;
}
.like__checkbox:checked + .like__favorite .like__icon--filled {
  opacity: 1;
}
.like__checkbox:checked + .like__favorite .like__icon--empty {
  opacity: 0;
}
.like__checkbox:not(:checked) + .like__favorite .like__icon--filled {
  opacity: 0;
}
.like__checkbox:not(:checked) + .like__favorite .like__icon--empty {
  opacity: 1;
}

/* ####### GENERAL ####### */
/* Titles*/
.restaurant-menu__title-restaurant {
  font-size: 1.75rem;
  font-family: shrikhand;
}
.restaurant-menu__title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.restaurant-menu__title::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #99E2D0;
  margin-top: 4px;
}
.restaurant-menu__dish {
  font-size: 1.125rem;
  font-weight: 500;
}
.restaurant-menu__description {
  font-size: 0.9375rem;
  font-weight: 300;
}
.restaurant-menu__price {
  font-size: 0.9375rem;
  font-weight: 700;
}

/* ####### HERO ####### */
.restaurant-hero__image {
  height: 17.1875rem;
  object-fit: cover;
  width: 100%;
}

/* ####### MENU ####### */
.restaurant-menu {
  position: relative;
  margin-top: -55px;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
.restaurant-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 340px;
}
.restaurant-menu__title-restaurant {
  margin-right: 8px;
  text-wrap: nowrap;
}
.restaurant-menu__like {
  flex-shrink: 0;
  margin-right: 27px;
}
.restaurant-menu__service {
  margin-top: 40px;
  max-width: 635px;
}
.restaurant-menu__service:last-of-type {
  margin-bottom: 40px;
}
.restaurant-menu__item {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 15px;
  margin-top: 12px;
  overflow: hidden;
}
.restaurant-menu__checkbox {
  display: none;
}
.restaurant-menu__label {
  display: flex;
  justify-content: space-between;
  height: 4.375rem;
}
.restaurant-menu__text {
  padding: 13px 15px;
  overflow: hidden;
}
.restaurant-menu__dish {
  margin-bottom: 5px;
}
.restaurant-menu__info {
  display: flex;
  align-items: flex-end;
  margin-right: -60px;
}
.restaurant-menu__price {
  display: block;
  padding-right: 15px;
  padding-bottom: 13px;
}
.restaurant-menu__check {
  width: 3.75rem;
  height: 100%;
  background-color: #99E2D0;
  color: white;
  font-size: 1.25rem;
  line-height: 4.375rem;
  text-align: center;
}

/*# sourceMappingURL=style_restaurants.css.map */
