.introduction, .restaurants {
  background: #F6F6F6;
}

.restaurants__card, .manual__item, .main-header__logo {
  margin: 0 auto;
}

.introduction, .manual, .restaurants {
  padding: 40px 20px 60px 20px;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ####### Extra reset rules ####### */
img, picture {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ####### GENERAL ####### */
html, body {
  font-family: "Roboto";
  font-size: 16px;
  scroll-behavior: smooth;
}

/* ####### Homepage ####### */
/* Titles*/
.home-main h1,
.home-main h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ####### Button animation ######## */
.btn:active::after {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.15;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  border-radius: 25px;
  transition: opacity 300ms;
}

/* "Like" animation */
.restaurants__like {
  transition: opacity 500ms ease-in;
}
.restaurants__checkbox:checked + .restaurants__favorite .restaurants__like--filled {
  opacity: 1;
}
.restaurants__checkbox:checked + .restaurants__favorite .restaurants__like--empty {
  opacity: 0;
}
.restaurants__checkbox:not(:checked) + .restaurants__favorite .restaurants__like--filled {
  opacity: 0;
}
.restaurants__checkbox:not(:checked) + .restaurants__favorite .restaurants__like--empty {
  opacity: 1;
}

/* ####### HEADER ####### */
.main-header {
  padding-top: 22px;
  padding-bottom: 13px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
}
.main-header__logo {
  width: 10.125rem;
}

/* ####### FOOTER ####### */
.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 1.125rem;
}
.footer__menu {
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 500;
}
.footer__menu-item {
  margin-top: 7px;
}
.footer__icon {
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

/* button */
.btn {
  width: 13.625rem;
  height: 3.125rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  line-height: 3.125rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  margin-top: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}

/* ###### MANUAL ###### */
.manual__list {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.manual__item {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 4.5rem;
  width: 100%;
  max-width: 322px;
  display: flex;
  align-items: center;
  padding: 0 28px;
  position: relative;
  transform: translateX(0.3125rem);
}
.manual__number {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  color: white;
  text-align: center;
  line-height: 1.625rem;
  border-radius: 100%;
  font-weight: 500;
  font-size: 0.875rem;
  transform: translateX(-50%);
  position: absolute;
  left: 0;
}
.manual__icon {
  font-size: 1.25rem;
  color: #7E7E7E;
  margin-right: 20px;
}
.manual__icon--colored {
  color: #9356DC;
}
.manual__text {
  font-size: 1rem;
  font-weight: 500;
}

/* ######## RESTAURANTS CARDS ######## */
.restaurants__cards {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 25px;
}
.restaurants__card {
  position: relative;
  width: 100%;
  max-width: 490px;
}
.restaurants__image {
  height: 10.625rem;
  width: 100%;
  object-fit: cover;
  object-position: 50% 58%;
  border-radius: 15px 15px 0 0;
}
.restaurants__content {
  display: flex;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 15px;
}
.restaurants__name {
  font-size: 1.125rem;
  font-weight: 700;
}
.restaurants__place {
  font-size: 1.0625rem;
  font-weight: 300;
  margin-top: 5px;
}
.restaurants__icon {
  margin-top: 8px;
  margin-right: 13px;
}
.restaurants__checkbox {
  display: none;
}
.restaurants__favorite {
  position: relative;
  display: block;
}
.restaurants__like--filled {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}
.restaurants__notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 1.875rem;
  line-height: 2rem;
  background-color: #99E2D0;
  color: #008766;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 15px;
  border-radius: 2px;
}
.restaurants__notification--off {
  display: none;
}

/* ####### LOCATIONS ####### */
.location {
  padding: 15.5px;
  color: #353535;
  background: #EAEAEA;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: relative;
}
.location__text {
  font-weight: 500;
  margin-left: 17px;
}

/* ####### INTRODUCTION /MANUAL / RESTAURANTS ####### */
/* ####### INTRODUCTION ####### */
.introduction {
  text-align: center;
}
.introduction__title {
  padding: 0 30px;
}
.introduction__text {
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 20px;
}

/*# sourceMappingURL=style_homepage.css.map */
