// Homepage

/* ####### GENERAL ####### */

/* Titles */
h1, h2 {
    font-size: rem(24);
    font-weight: $bold-weight;
}

@media #{$medium-screen} {
    h1 {
        font-size: rem(30);
    }
}

@media #{$large-screen} {
    h1 {
        font-size: rem(40);
    }

    h2 {
        @include max-width-large;
    }
}

/* ####### LOCATIONS ####### */

.location {
    padding: 15.5px;
    color: $contrast-heavy;
    background: $background-medium;
    text-align: center;
    @include shadow-medium;
    z-index: 2;
    position: relative;

    &__text {
        font-weight: $medium-weight;
        margin-left: 17px;
    }

    @media #{$large-screen} {
        box-shadow: none;
    }
}

/* ####### INTRODUCTION / MANUAL / RESTAURANTS ####### */

.introduction, .manual, .restaurants {
    padding: 40px 20px 60px 20px;
}

@media #{$large-screen} {
    .introduction, .restaurant {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .manual {
        padding-top: 50px;
        padding-bottom: 30px;

        &__list {
            @include max-width-large;
            @include flex-row(24px, 0);
            justify-content: center;
        }
    }

}
.introduction, .restaurants {
    @extend %background-light;
}

/* ####### INTRODUCTION ####### */
.introduction  {
    text-align: center;

    &__title {
        padding: 0 30px;
    }

    &__text {
        font-size: rem(18);
        font-weight: $light-weight;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &__link {
        width: fit-content;
        display: block;
        @extend %margin-center;
    }
}